
.Nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Nav li {
  float: left;
  padding: 8px 16px;
  border-bottom: 1px #202020 solid;
}

.Nav li:hover {
  float: left;
  background-color: #555;
  border-bottom: 1px purple solid;
}

.Nav a {
  display: block;
  color: #FFF;
  text-decoration: none;
}

.Greeting {
  padding-left: 20;
  padding-bottom: 20;
  float: left;
  background-color: #191919;
}
